<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ansel.testall.mybatis.mapper.HanlinMapper">
	<resultMap id="BaseResultMap" type="com.ansel.testall.mybatis.model.Hanlin">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="thumb_up" jdbcType="INTEGER" property="thumbUp" />
		<result column="CREATE_DATE" jdbcType="TIMESTAMP" property="createDate" />
		<result column="UPDATE_DATE" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="FIRST" jdbcType="INTEGER" property="first" />
		<result column="CFIRST" jdbcType="INTEGER" property="cfirst" />
		<result column="CTHUMB" jdbcType="INTEGER" property="cthumb" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, TITLE, URL, THUMB_UP, CREATE_DATE, UPDATE_DATE, FIRST,
		CFIRST, CTHUMB
	</sql>
	<select id="selectByHanlin" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from Hanlin
		<where>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR}
			</if>
			<if test="thumbUpMin != null">
				and <![CDATA[thumb_up >= #{thumbUpMin,jdbcType=INTEGER}]]>
			</if>
			<if test="thumbUpMax != null">
				and <![CDATA[thumb_up <= #{thumbUpMax,jdbcType=INTEGER}]]>
			</if>
			<if test="createDateMin != null">
				and <![CDATA[CREATE_DATE >= TO_DATE(#{createDateMin},'yyyy-mm-dd hh24:mi:ss')]]>
			</if>
			<if test="createDateMax != null">
				and <![CDATA[CREATE_DATE <= TO_DATE(#{createDateMax},'yyyy-mm-dd hh24:mi:ss')]]>
			</if>
		</where>

		<if test="thumbUp != null">
			order by thumb_up desc
		</if>
		<if test="createDate != null">
			order by CREATE_DATE desc,thumb_up desc
		</if>
		<if test="updateDate != null">
			order by UPDATE_DATE desc,cfirst desc
		</if>
		<if test="cthumb != null">
			order by cthumb desc
		</if>
		<if test="cfirst != null">
			order by cfirst desc
		</if>

	</select>

	<insert id="insertSelective" parameterType="com.ansel.testall.mybatis.model.Hanlin">
		insert into HANLIN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="title != null">
				TITLE,
			</if>
			<if test="url != null">
				URL,
			</if>
			<if test="thumbUp != null">
				THUMB_UP,
			</if>
			CREATE_DATE,UPDATE_DATE,
			<if test="first != null">
				FIRST,
			</if>
			<if test="cfirst != null">
				CFIRST,
			</if>
			<if test="cthumb != null">
				CTHUMB,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=CHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="thumbUp != null">
				#{thumbUp,jdbcType=INTEGER},
			</if>
			sysdate, sysdate,
			<if test="first != null">
				#{first,jdbcType=INTEGER},
			</if>
			<if test="cfirst != null">
				#{cfirst,jdbcType=INTEGER},
			</if>
			<if test="cthumb != null">
				#{cthumb,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.ansel.testall.mybatis.model.Hanlin">
		update HANLIN
		<set>
			<if test="title != null">
				TITLE = #{title,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL = #{url,jdbcType=VARCHAR},
			</if>
			<if test="thumbUp != null">
				THUMB_UP = #{thumbUp,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			UPDATE_DATE = sysdate,
			<if test="first != null">
				FIRST = #{first,jdbcType=INTEGER},
			</if>
			<if test="cfirst != null">
				CFIRST = #{cfirst,jdbcType=INTEGER},
			</if>
			<if test="cthumb != null">
				CTHUMB = #{cthumb,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=CHAR}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from HANLIN
		where ID = #{id,jdbcType=CHAR}
	</delete>
</mapper>