<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ansel.testall.mybatis.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.ansel.testall.mybatis.model.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_type" jdbcType="VARCHAR" property="roleType" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ansel.testall.mybatis.model.Role">
    insert into role (role_id, role_type)
    values (#{roleId,jdbcType=INTEGER}, #{roleType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ansel.testall.mybatis.model.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="roleType != null">
        role_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleType != null">
        #{roleType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ansel.testall.mybatis.model.Role">
    update role
    <set>
      <if test="roleType != null">
        role_type = #{roleType,jdbcType=VARCHAR},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ansel.testall.mybatis.model.Role">
    update role
    set role_type = #{roleType,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  
  <select id="listRoleTypeByUsername" parameterType="String"
		resultType="String">
		select
		role_type
		from role, user, user_role
		where user.user_id = user_role.user_id and user_role.role_id = role.role_id and username =
		#{username,jdbcType=VARCHAR}
	</select>
</mapper>